<% content_for :head do %>
  <%= stylesheet_link_tag    "index" %>
  <%= javascript_include_tag "index" %>
<% end %>

<% content_for :title, "Stephan Boyer" %>

<div class="article">
  <h2>Sorry, that page doesn&rsquo;t exist.</h2>
  <p>Make sure you typed the URL correctly.</p>
</div>