<h2>That requires administrative priveledges.</h2>
<p>Please enter your credentials:</p>
<form action="/credentials" method="post">
  <p>
    <input type="password" placeholder="password" name="password" id="password_field" />
    &nbsp;
    <input type="submit" value="Login" id="login_button" />
  </p>
</form>