<% content_for :head do %>
  <%= stylesheet_link_tag    "login" %>
  <%= javascript_include_tag "login" %>
<% end %>

<% content_for :title, "Login | Stephan Boyer" %>

<article>
  <h2>This page requires administrative priveledges.</h2>
  <%= form_tag("/login", :method => "post", :class => "form-inline") do %>
    <p>Please enter your credentials:</p>
    <p>
      <input type="password" placeholder="Password" name="password" id="password_field" />
      <input type="submit" value="Log In" />
    </p>
  <% end %>
</article>