<% content_for :title, "Login | Stephan Boyer" %>

<div class="article">
  <h2>This page requires administrative priveledges.</h2>
  <%= form_tag("/login", :method => "post") do %>
    <p>Please enter your credentials:</p>
    <p>
      <input type="password" placeholder="Password" name="password" id="password-field" />
      <input type="submit" value="Log In" />
    </p>
  <% end %>
</div>