/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require grid
 *= require_self
 *= require_tree .
 */

/*
 *  Global styles
 */

$color-light: #268d6f;
$color-dark: #2f2f2f;

$footer-color-background: $color-dark * 0.5;
$footer-color-text: $color-dark * 0.2 + #777;

$line-height: 1.5em;
$code-color: inherit;
$code-background: #e9e9e9;
$footer-height: 128px;

/* Mixins */

@mixin box-sizing($mode) {
  -webkit-box-sizing: $mode;
  -moz-box-sizing: $mode;
  box-sizing: $mode;
}

@mixin vertical-gradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

/* Helper styles */

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.muted {
  color: #999;
}

.nobr {
  white-space: nowrap;
}

.full-width {
  width: 100%;
  @include box-sizing(border-box);
  /* NOTE: home.js.coffee automatically makes YouTube videos full-width and preserves their aspect ratio */
}

/* Body */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #333;
}

#footer-fix-container {
  min-height: 100%;
  position: relative;
}

.container-spacer {
  padding: 0 4%;
}

/* Anchors */

a {
  color: $color-dark;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: $color-light;
  text-decoration: none;
}

a.tag {
  display: inline-block;
  padding: 0px 4px;
  background-color: $color-dark;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
  line-height: 1.6em;
}

a.tag:hover {
  background-color: $color-light;
}

/* Block-level elements */

p, ul, ol, form, table, .p {
  line-height: $line-height;
  margin: 16px 0;
}

h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 16px 0;
}

h2 {
  font-size: 2.5em;

  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.7em;
  margin-top: 48px;
}

h4 {
  font-size: 1.2em;
  margin-top: 32px;
  color: #666;
}

code, pre, .monospace {
  font-family: "Droid Sans Mono", "Monaco", "Lucida Console", "Terminal", sans-serif;
  font-size: 0.9em;
}

pre {
  margin: 16px 0;
  padding: 16px 24px;
  background-color: $code-background;
  white-space: pre;
  overflow: auto;
  color: $code-color;
  max-height: 600px;
}

.notice, .error {
  padding: 16px 24px;
  background-color: #eee;
  margin: 32px 0;
}

ul {
  list-style-type: square;
}

ul, ol {
  padding-left: 25px;
}

label {
  cursor: pointer;
}

ul.pagination {
  $page-link-width:  32px;
  $page-link-height: 28px;

  padding-left: 0;
  margin: 32px auto;

  li {
    display: block;
    width: $page-link-width;
    height: $page-link-height;
    float: left;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:first-child {
      border-left: 1px solid #ddd;
    }

    &.disabled a, &.disabled span {
      color: #999;
    }

    &.active a, &.active span {
      background-color: #f2f2f2;
      color: #999;
    }

    a, span {
      display: block;
      width: $page-link-width;
      height: $page-link-height;
      line-height: $page-link-height;
    }
  }
}

/* Inline elements */

strong {
  font-weight: 600;
}

.article > p > img, .article > p > video, .article > p > embed, .article > p > iframe {
  display: inline-block;
  vertical-align: middle;
  border-width: 0;
  width: 100%;
}

input[type=text], input[type=password], textarea {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 2px 8px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
}

input[type=submit], .button-link {
  display: inline-block;
  padding: 3px 9px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  background-color: $color-dark;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
  font-weight: bold;
  border-style: none;

  &:hover {
    background-color: $color-light;
    color: #fff;
  }
}

input, .button-link {
  height: 27px;
  vertical-align: middle;
  @include box-sizing(border-box);
}

textarea {
  display: inline-block;
  resize: vertical;
}

textarea:focus, input:focus {
  outline: 0;
}

code {
  display: inline-block;
  padding: 0 4px;
  color: $code-color;
  background-color: $code-background;
}

form {
  display: inline;
}

/* Header */
#header {
  $header-font-size: 1em;
  $header-text-color: #444;
  $header-height: 32px;
  $header-padding: 24px;
  $header-link-border-width: 4px;
  $header-link-border-color: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: $header-font-size;
  line-height: $header-height;
  color: $header-text-color;
  padding-top: $header-padding;
  padding-bottom: $header-padding;

  #title {
    @media (max-width: 767px) {
      border-bottom: 1px solid #ccc;
      text-align: center;
    }

    h1 {
      font-family: "Playball", cursive;
      font-weight: 300;
      font-size: 2em;
      text-transform: inherit;
      line-height: inherit;
      margin: $header-link-border-width 0;
      color: $header-text-color + #222;

      a {
        font-weight: 400;
        display: inline-block;
        color: inherit;
        &:hover {
          color: $color-light;
        }
      }

      a#title-link {
        font-weight: 700;

        &:hover {
          color: $color-light;
        }
      }
    }
  }

  #nav {
    text-align: right;

    @media (max-width: 767px) {
      text-align: center;
    }

    a {
      font-weight: 400;
      display: inline-block;
      color: inherit;
      padding: 0 20px;
      margin: $header-link-border-width 0;
      @media (max-width: 767px) {
        & {
          padding: 0 5px;
        }
      }
      &:hover {
        color: $color-light;
      }
    }

    a.active {
      border-bottom: $header-link-border-width solid $header-link-border-color;
      margin-bottom: 0;
      &:hover {
        color: $color-light;
      }
    }
  }
}

/* Banner */

div.banner-title {
  @include vertical-gradient($color-light, $color-light * 0.9);
  line-height: 64px;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  font-weight: 400;
}

div.banner-body {
  @include vertical-gradient($color-dark * 0.9, $color-dark);
  color: $color-dark * 0.4 + #999;
  font-weight: 300;
  padding: 24px 0;

  a {
    color: inherit;

    &:hover {
      color: #fff;
    }
  }

  h2 {
    font-size: 1.8em;
    font-weight: 300;
    color: $color-dark * 0.4 + #ddd;
  }
}

/* Separators */

div.page-separator-top {
  @include vertical-gradient($color-light, $color-light * 0.9);
  height: 32px;
}

div.page-separator-bottom {
  @include vertical-gradient($color-dark + #222, $color-dark + #111);
  height: 32px;
}

div.post-separator {
  background-color: #eee;
  height: 2px;
}

/* Articles */

#content {
  padding-bottom: $footer-height;

  .article {
    margin: 48px 0 48px 0;

    .previous-post {
      text-align: left;
    }

    .next-post {
      text-align: right;
    }
  }
}

/* Footer */

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  @include vertical-gradient($footer-color-background, $footer-color-background * 0.9);
  color: $footer-color-text;
  text-align: center;

  #footer p {
    line-height: ($footer-height - 32px);
    margin: 0;
  }
}

/* Loading screen */

.loading-cover {
  visibility: hidden;
  background-color: #fff;
  opacity: 0.6;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .loading-spinner-container {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 50%;
    top: 50%;

    .loading-spinner {
      position: relative;
      width: 256px;
      height: 256px;
      left: -50%;
      top: -50%;
    }
  }
}
