/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fff;
  color: #333;
  font-family: "PT Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.0em;
  line-height: 1.4;
}

div.clear {
  clear: both;
}

div#main {
  width: 960px;
  margin: 10px auto 0 auto;
}

div#main header h1 {
  display: block;
  float: left;
  width: 480px;
  padding: 10px 0 0 0;
  margin: 0;
  color: #333;
}

div#main header h1 a#title_link {
  text-decoration: none;
  color: #333;
}

div#main header h1 a#title_link:hover {
  color: #de2626;
}

div#main header div#nav {
  width: 480px;
  float: right;
}

div#main header div#nav a {
  display: block;
  float: right;
  width: 120px;
  padding: 20px 0 20px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #333;
}

div#main header div#nav a.active {
  border-bottom: 2px solid #666;
}

div#main header div#nav a:hover {
  border-bottom: 2px solid #daa520;
}

div#main header div#top_border {
  border-top: 1px solid #666;
  border-bottom: 1px solid #dddddd;
}

div#main p.notice {
  background-color: #fff9bf;
  border: 1px solid #e8de6f;
  padding: 5px 10px 5px 10px;
  -moz-box-shadow: 0px 1px 3px #ddd;
  -webkit-box-shadow: 0px 1px 3px #ddd;
  box-shadow: 0px 1px 3px #ddd;
}

div#main p.error {
  background-color: #ffdede;
  border: 1px solid #f2aaaa;
  padding: 5px 10px 5px 10px;
  -moz-box-shadow: 0px 1px 3px #ddd;
  -webkit-box-shadow: 0px 1px 3px #ddd;
  box-shadow: 0px 1px 3px #ddd;
}

div#main div#content a {
  text-decoration: none;
  color: #9e2020;
}

div#main div#content a:hover {
  color: #de2626;
}

div#main footer {
  font-size: 0.8em;
  color: #666;
}

div#main footer div#bottom_border {
  border-bottom: 1px solid #ddd;
}

div#main footer a {
  text-decoration: none;
  color: #9e2020;
}

div#main footer a:hover {
  color: #de2626;
}