/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fff;
  color: #444;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.0em;
  line-height: 1.4;
}

div.clear {
  clear: both;
}

div#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

div#nav {
  margin-top: 10px;
  font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", "Helvetica", sans-serif;
}

div#nav h1 {
  display: block;
  float: left;
  width: 500px;
  padding: 10px 0 0 0;
  margin: 0;
  color: #111;
}

div#nav a {
  display: block;
  float: right;
  width: 120px;
  padding: 20px 0 20px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 0.9em;
  text-transform: uppercase;
}

div#nav a.active {
  border-bottom: 2px solid #666;
}

div#nav a:hover {
  border-bottom: 2px solid #daa520;
}

div#top_border {
  border-top: 1px solid #666;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
}

div#bottom_border {
  border-bottom: 1px solid #dddddd;
}

div#footer {
  padding: 10px 0 10px 0;
  font-size: 0.7em;
  color: #666;
}

a {
  text-decoration: none;
  color: #9e2020;
}

a:hover {
  color: #666;
}