/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "normalize"
 *= require "shCoreDefault"
 */

/*
 *  Global styles
 */

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "PT Sans", "Arial", sans-serif;
  line-height: 1.4;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 0.95em;
}

:first-child {
  margin-top: 0 !important;
}

:last-child {
  margin-bottom: 0 !important;
}

.hidden {
  display: none;
}

span.disabled {
  color: #666;
}

div.clear {
  clear: both;
}

body a {
  text-decoration: none;
  color: #9e2020;
}

body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
  color: #333;
}

body a:hover {
  color: #de2626;
}

body p {
  margin: 20px 0 20px 0;
}

body h2 {
  font-size: 1.6em;
  font-weight: 500;
  margin: 20px 0 20px 0;
  padding: 0;
  -moz-text-shadow: 0px 1px 3px #ddd;
  -webkit-text-shadow: 0px 1px 3px #ddd;
  text-shadow: 0px 1px 3px #ddd;
}

body h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 40px 0 20px 0;
  -moz-text-shadow: 0px 1px 3px #eee;
  -webkit-text-shadow: 0px 1px 3px #eee;
  text-shadow: 0px 1px 3px #eee;
}

body input, textarea {
  margin: 0;
  vertical-align: top;
  outline: none;
  color: #333;
}

body input[type=text], input[type=password] {
  padding: 4px 8px;
  border: 1px solid #bbb;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: inherit;
  -moz-box-shadow:    inset 0px 0px 10px #ccc;
  -webkit-box-shadow: inset 0px 0px 10px #ccc;
  box-shadow:         inset 0px 0px 10px #ccc;
  -moz-border-radius: 4px;
  border-radius:      4px;
}

body input[type=checkbox] {
  position: relative;
  left: 0;
  top: 4px;
}

body textarea {
  padding: 4px 8px;
  border: 1px solid #bbb;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: inherit;
  -moz-box-shadow:    inset 0px 0px 10px #ccc;
  -webkit-box-shadow: inset 0px 0px 10px #ccc;
  box-shadow:         inset 0px 0px 10px #ccc;
  -moz-border-radius: 4px;
  border-radius:      4px;
  resize: vertical;
}

body input[type=submit] {
  padding: 4px 20px;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: inherit;
  -moz-border-radius: 4px;
  border-radius:      4px;
  background-color: #ededed;
  background-image: -linear-gradient(bottom, #ededed, #fff);
  background-image: -o-linear-gradient(bottom, #ededed, #fff);
  background-image: -moz-linear-gradient(bottom, #ededed, #fff);
  background-image: -ms-linear-gradient(bottom, #ededed, #fff);
  background-image: -webkit-linear-gradient(bottom, #ededed, #fff);
  border: 1px solid #b7b7b7;
  color: #606060;
  -moz-box-shadow:    inset 0px 0px 1px #fff;
  -webkit-box-shadow: inset 0px 0px 1px #fff;
  box-shadow:         inset 0px 0px 1px #fff;
  cursor: pointer;
}

body input[type=submit]:hover {
  background-color: #dcdcdc;
  background-image: -linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -o-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -moz-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -ms-linear-gradient(bottom, #dcdcdc, #fff);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc, #fff);
  color: #444;
}

body input[type=submit]:active {
  background-color: #ededed;
  background-image: -linear-gradient(bottom, #fff, #ededed);
  background-image: -o-linear-gradient(bottom, #fff, #ededed);
  background-image: -moz-linear-gradient(bottom, #fff, #ededed);
  background-image: -ms-linear-gradient(bottom, #fff, #ededed);
  background-image: -webkit-linear-gradient(bottom, #fff, #ededed);
  color: #606060;
}

/* LEFT COLUMN */

div#main div#content div#left_column {
  float: left;
  width: 640px;
  margin: 0 40px 0 0;
}

/* RIGHT COLUMN */

div#main div#content div#right_column {
  float: left;
  width: 280px;
}

div#main div#content div#right_column article {
  margin: 24px 0;
}

div#main div#content div#right_column article h2 {
  font-size: 0.9em;
  font-weight: 500;
  color: #666;
  margin: 5px 0;
  text-transform: uppercase;
}

div#main div#content div#right_column article div.post_content {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.5;
}

div#main div#content div#right_column ul {
  list-style-type: square;
  padding: 0 0 0 16px;
}

/*
 *  Layout styles
 */

div#main {
  width: 960px;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}

div#main header h1 {
  display: block;
  float: left;
  width: 480px;
  padding: 5px 0 0 0;
  margin: 0;
  font-weight: 300;
  -moz-text-shadow: 0px 1px 3px #ddd;
  -webkit-text-shadow: 0px 1px 3px #ddd;
  text-shadow: 0px 1px 3px #ddd;
}

div#main header h1 a#title_link {
  text-decoration: none;
  color: #333;
}

div#main header h1 a#title_link:hover {
  color: #de2626;
}

div#main header div#nav {
  width: 480px;
  float: right;
}

div#main header div#nav a {
  display: inline-block;
  float: right;
  padding: 20px;
  text-align: right;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #333;
  -moz-text-shadow: 0px 1px 3px #ddd;
  -webkit-text-shadow: 0px 1px 3px #ddd;
  text-shadow: 0px 1px 3px #ddd;
}

div#main header div#nav a:first-child {
  padding-right: 0;
}

div#main header div#nav a:hover, div#main header div#nav a.active {
  color: #de2626;
}

div#main header img#banner {
  display: block;
  -moz-box-shadow:    0px 1px 10px #ccc;
  -webkit-box-shadow: 0px 1px 10px #ccc;
  box-shadow:         0px 1px 10px #ccc;
}

div#main p.notice {
  background-color: #fff9bf;
  border: 1px solid #e8de6f;
  padding: 5px 10px 5px 10px;
  -moz-box-shadow: 0px 1px 3px #ddd;
  -webkit-box-shadow: 0px 1px 3px #ddd;
  box-shadow: 0px 1px 3px #ddd;
}

div#main p.error {
  background-color: #ffdede;
  border: 1px solid #f2aaaa;
  padding: 5px 10px 5px 10px;
  -moz-box-shadow: 0px 1px 3px #ddd;
  -webkit-box-shadow: 0px 1px 3px #ddd;
  box-shadow: 0px 1px 3px #ddd;
}

div#main div#content {
  margin: 40px 0 40px 0;
}

div#main footer {
  font-size: 0.85em;
  color: #666;
}

div#main footer div#bottom_border {
  border-bottom: 1px dashed #ddd;
}
