/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap.min"
 *= require "shCore"
 *= require "shCoreDefault"
 *= require "shThemeDefault"
 */

/*
 *  Global styles
 */

$background-color: #fff;
$anchor-color: #9e2020;

body#bootstrap_override {
  /* Helper styles */

  background-color: $background-color;

  .hidden {
    display: none;
  }

  /* Anchors */
  
  a {
    color: $anchor-color;
  }

  a:hover {
    color: $anchor-color * 1.8;
    text-decoration: none;
  }

  a .label-important:hover {
    background-color: #f28c8a !important;
  }

  /* Block-level elements */

  p, ul, ol, form, table, h2, h3, h4, h5, h6, .p {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.4em;
  }

  h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
  }

  li {
    line-height: 1.4em;
  }

  ul {
    list-style-type: square;
  }

  h2 {
    margin-bottom: -8px;
  }

  /* Inline elements */

  img, video, embed, iframe {
    display: inline-block;
    vertical-align: middle;
    border: 12px solid #ddd;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  p > input, p > textarea {
    margin: 0;
  }

  textarea {
    resize: vertical;
  }

  /* Header */

  header {
    background-color: #000;
    border-bottom: 1px solid $background-color;
    padding: 9px 0;
    color: #888;

    * {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.2em;
    }

    a {
      color: inherit;
    }

    a:hover {
      color: $anchor-color * 1.4 !important;
    }

    h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 1.5em;
      text-transform: uppercase;

      a#title_link {
        color: #fff;
        font-weight: 400;
      }
    }

    #nav {
      text-align: right;

      a {
        display: inline-block;
        padding: 0 20px;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      a:last-child {
        padding-right: 0;
      }

      a.active {
        color: #ddd;
      }
    }
  }

  /* Articles */

  #content {
    padding: 40px 0;

    article > *:first-child {
      margin-top: 0;
    }

    article > *:last-child {
      margin-bottom: 0;
    }

    #sidebar {
      h2 {
        font-size: 1.5em;
      }

      article {
        padding: 16px 0;
      }

      article:first-child {
        padding-top: 0;
      }

      article:last-child {
        padding-bottom: 0;
      }
    }

    #articles {
      .date {
        #margin-bottom: 24px;
      }

      article {
        padding: 32px 0 32px 32px;
        border-top: 1px dashed #ddd;
        border-left: 1px solid #ddd;
      }

      article:first-child {
        padding-top: 0;
        border-top: none;
      }

      article:last-child {
        padding-bottom: 0;
      }

      .previous_post, .next_post {
        width: 50%;
      }

      .previous_post {
        float: left;
        text-align: left;
      }

      .next_post {
        float: right;
        text-align: right;
      }
    }

    #pagination_container {
      margin-top: 40px;
    }

    #pagination_container .pagination, #pagination_container ul {
      margin: 0;
    }
  }

  /* Footer */

  footer {
    border-top: 1px solid #ddd;
    padding: 32px 0;
    color: #b0b0b0;
    text-align: center;
  }

  footer > *:first-child {
    margin-top: 0;
  }

  footer > *:last-child {
    margin-bottom: 0;
  }
}

/* Apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #sidebar {
    display: none !important;
  }

  #content, div#header_container, div#footer_container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  article {
    border-left: none !important;
    padding-left: 0 !important;
  }
}
