div#main div#content div#left_column article {
  margin: 40px 0;
}

div#main div#content div#left_column article h2 span.private {
  opacity: 0.5;
}

div#main div#content div#left_column article div.post_content img, embed {
  -moz-box-shadow: 0px 0px 10px #aaa;
  -webkit-box-shadow: 0px 0px 10px #aaa;
  box-shadow: 0px 0px 10px #aaa;
  display: block;
  margin: 40px auto !important;
}

div#main div#content div#left_column article p.post_footer {
  color: #666;
}